body{
    background-color: #222;
    margin: 0;
    font-family: 'Montserrat', sans-serif;

    font-size: 15px;
    line-height: 1.6;
    color: rgb(255, 255, 255);

    height:1700px;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 70%;
    max-width: 1920px;
    margin: 0 auto;
}

.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-decoration: none;

    transition: color .2s linear;
}

.header_logo:hover {
     color: crimson;
 }

.header_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header {
    width: 100%;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.nav {
    font-size: 16px;
    text-transform: uppercase;
}

.nav_link {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;

    color: #fff;
    text-decoration: none;

    transition: color .2s linear;
}

.nav_link:hover {
    color: crimson;
}

#carouselExampleCaptions {
    width: 60%; /* Ширина элемента в пикселах */
    margin: auto; /* Выравниваем по центру */ /* Цвет фона */
    margin-top: 169px;
    border-radius: 2%;
    position: relative;
   }

.carousel-inner {
     border-radius: 2%;
}

.card-body {
    color: #fff;
}

#card3 {
    margin-left: 20%;
    right: 16%;
    margin-bottom: 25px;
}

#card1 {
    margin-left: 20%;
    right: 16%;
}

#card2 {
    margin-right: 20%;
    left: 16%;
}

#card4 {
    margin-right: 20%;
    left: 16%;
    margin-bottom: 25px;
}

#cards {
    margin: auto;
    margin-top: 10%;
    width: 80%;
}

.block2 {   
    background-color: #333;
    border-radius: 2%;
    width: 70%;
    margin: auto;
}

.card {
    background-color: #333;
    border: 0;
}

.sign {
    text-decoration: none;
    color: #fff;

    transition: color .2s linear;
}

.sign:hover {
    color: crimson;
}

.login {
    text-decoration: none;
    color: #fff;
    margin-left: 10px;

    transition: color .2s linear;
}

.login:hover {
    color: crimson;
}

.logout {
    text-decoration: none;
    color: #fff;

    transition: color .2s linear;
}

.logout:hover {
    color: crimson;
}