{% extends "base_main.html"%}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/style_main.css'%}">
{% endblock %}
{% block title %} Main {% endblock %}
{% block content %}
    <!-- <main role="main">
        <div class="navbarText">
          {% if user.is_authenticated %}
              <a href="{% url 'logout' %}">{{user.username}}::Logout</a>

          {% else %}
              <a href="{% url 'register' %}">Sign Up</a>
              <a href="{% url 'login' %}">Login</a>
          {% endif %}
        </div> -->
    <div id="carouselExampleCaptions" class="carousel slide"  data-bs-ride="false">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="#"><img src="{{ news1.img_anons }}" class="d-block w-100"></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ news1.name }}</h5>
                    <p>{{ news1.anons }}</p>
                </div>
            </div>
            <div class="carousel-item">
                <a href="#"><img src="{{ news2.img_anons }}" class="d-block w-100" alt="..."></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ news2.name }}</h5>
                    <p>{{ news2.anons }}</p>
                </div>
            </div>
            <div class="carousel-item">
                <a href="#"><img src="{{ news3.img_anons }}" class="d-block w-100" alt="..."></a>
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{ news3.name }}</h5>
                    <p>{{ news3.anons }}</p>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

  <div class="block2">    
    <div class="row row-cols-1 row-cols-md-2 g-4" id="cards">
      <div class="col">
        <div class="card" id="card1">
          <img src="{{ sixblock1.img_anons }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ sixblock1.name }}</h5>
            <p class="card-text">{{ sixblock1.anons }}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" id="card2">
          <img src="{{ sixblock2.img_anons }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ sixblock2.name }}</h5>
            <p class="card-text">{{ sixblock2.anons }}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" id="card3">
          <img src="{{ sixblock3.img_anons }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ sixblock3.name }}</h5>
            <p class="card-text">{{ sixblock3.anons }}</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" id="card4">
          <img src="{{ sixblock4.img_anons }}" class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{ sixblock4.name }}</h5>
            <p class="card-text">{{ sixblock4.anons }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>    

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
{% endblock %}